@using CarPool.Models;



@foreach (City city in (List<City>)ViewData["City"])
{
    <div class="list-group-item">
        <i class="fa fa-city text-primary "></i>
        <a href="#" data-content="City">@city.cityName</a>
        <br />
        <span>Okres: @city.regionName</span>
        <br>
    </div>
}



@foreach (City city in (List<City>)ViewData["Street"])
{
<div class="list-group-item">
    <i class="fas fa-map-marker-alt "></i>
    <a href="#" data-content="Street">@city.cityName @city.streetName</a>
    <br>
    <span>Okres: @city.regionName</span>
    <br>
</div>
}


@foreach (School sc in (List<School>)ViewData["School"])
{
    <div class="list-group-item">
        <i class="fas fa-user-graduate"></i>
        <a href="#" data-content="School">@sc.name</a>
        <br>
    </div>
}








