@using CarPool.Models;
@section Scripts{
    <script src="~/lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/js/GeoInput.js"></script>
    <script src="~/js/DateTimePicker.js"></script>

}

@section CSS{
    <link rel="stylesheet" href="~/lib/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css" />
    <link rel="stylesheet" href="~/css/HomePage.css" />
}

@model Route

<partial name="_Messages" />

<h1>Vytvořit jízdu</h1>


<form asp-controller="Route" asp-action="AddRouteToDB" method="post">


    <div class="row mt-3">
        <div class="col-sm-8">
            <div class="input-group mb-1 ">
                <div class="input-group-prepend">
                    <span class="input-group-text same-width">Odkud</span>
                </div>
                <input id="start" asp-for="@Model.startDestination" class="form-control focusSelect adress_inp" placeholder="zadejte alepon tři znaky" autocomplete="off" data-target="input-Sorce-Content">
            </div>
            <span class="text-danger" asp-validation-for="@Model.startDestination"> </span>
            <div id="input-Sorce-Content" class="list-group d-none position-absolute ml-md-5 hiddenDiv">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>

    <div>

        <div class="row mt-2">
            <div class="col-sm-8">
                <div class="input-group mb-1 ">
                    <div class="input-group-prepend ">
                        <span class="input-group-text same-width">Kam</span>
                    </div>

                    <input asp-for="@Model.finalDestination" class="form-control focusSelect adress_inp" placeholder="zadejte alepon tři znaky" autocomplete="off" data-target="input-Destination-Content">
                </div>
                <span class="text-danger" asp-validation-for="@Model.finalDestination"> </span>
                <div id="input-Destination-Content" class="list-group d-none position-absolute ml-md-5 hiddenDiv">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <label for="date">Datum:</label>
            <div class="input-group mb-1 ">
                <div class="input-group-prepend ">
                    <div class="input-group-text"><span class="fa fa-calendar"></span></div>
                </div>
                <input id="date" asp-for="@Model.date" type="text" class="form-control dateinput">
            </div>
            <span class="text-danger" asp-validation-for="@Model.date"> </span>
        </div>

        <div class="col-sm-4">
            <label for="time">Čas:</label>
            <div class="input-group mb-1 ">
                <div class="input-group-prepend ">
                    <div class="input-group-text"><span class="fa fa-clock"></span></div>
                </div>
                <input id="time" asp-for="@Model.time" type="text" class="form-control timeinput">
            </div>
            <span class="text-danger" asp-validation-for="@Model.time"> </span>
        </div>
    </div>



    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label for="count">Počet míst</label>
                <select asp-for="@Model.seats" class="form-control" id="seats">
                    @if ((ViewData["UsersCars"] as List<Car>).Count() != 0)
                    {
                        @for (int i = 1; i <= (ViewData["UsersCars"] as List<Car>).First().seats; i++)
                        {
                            <option>@i</option>
                        }
                    }
                    else
                    {
                        <option>0</option>
                    }
                </select>
            </div>
            <span class="text-danger" asp-validation-for="@Model.seats"> </span>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label for="Car">Auto</label>
                <select asp-for="@Model.seats" class="form-control" id="carSelect">
                    @foreach (Car c in ViewData["UsersCars"] as List<Car>)
                    {
                        <option id="@c.id">@c.brand @c.model</option>
                    }
                </select>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-3">
            <button type="submit" class="btn btn-primary mt-4 ">Vytvořit</button>
        </div>
    </div>

</form>


<script src="~/lib/jquery/jquery.min.js"></script>
<script>
    $('#carSelect').on("change", function (event) {
        console.log("carid: " +$('option:selected', this).attr('id'));

        $.ajax({
            url: "/Car/GetSeats",
            type: "POST",
            data: "id=" + $('option:selected', this).attr('id'),
            success: function (response) {
                $('#seats').html(response);

            }
        });


    });


</script>

