@using CarPool.Models;

@model Route

@{
    ViewData["Title"] = "Detail";
}

<h1>Detail jízdy</h1>

<p>
    <div class="row mt-2">
        <div class="col-4"> <span class="h2">Datum:</span>   </div>
        <div class="col-4"> <span class="h2">@Model.date.ToString("dd.MM")</span>  </div>
    </div>

    <div class="row mt-2">
        <div class="col-4"> <span class="h2">Čas odjezdu: </span>  </div>
        <div class="col-4"><span class="h2"> @Model.date.ToString("HH:mm") </span>  </div>
    </div>

    <div class="row mt-2">
        <div class="col-4"> <span class="h2">Místo odjezdu </span>  </div>
        <div class="col-4"><span class="h2"> @Model.startDestination </span>  </div>
    </div>

    <div class="row mt-2">
        <div class="col-4"> <span class="h2">Místo příjezdu: </span>  </div>
        <div class="col-4"><span class="h2"> @Model.finalDestination </span>  </div>
    </div>

    <div class="row mt-2">
        <div class="col-4"> <span class="h2">Počet míst </span>  </div>
        <div class="col-4"><span class="h2"> @Model.seats </span>  </div>
    </div>

    <div class="row mt-2">
        <div class="col-4"> <span class="h2">Cena </span>  </div>
        <div class="col-4"><span class="h2"> @Model.price </span>  </div>
    </div>
</p>



